<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tailwind Css</title>
        <link rel="stylesheet" href="/src/styles/main.css" />
        <link rel="icon" href="/src/assets/favicon/tailwind.svg" type="image/x-icon" />
    </head>
    <body class="bg-pink-300 flex justify-center items-center h-screen">
        <figure class="w-[280px] flex flex-col md:grid md:grid-cols-[120px_1fr] md:w-[500px] gap-4 p-10 bg-gray-50 shadow-lg rounded-lg items-center">
            <img class="w-20 h-20" src="/src/assets/logo/tailwindcss.svg" alt="" />
            <figcaption class="space-y-4">
                <strong lang="en" class="text-blue-300">Tailwind <abbr class="no-underline" title="Cascading Style Sheet">CSS</abbr></strong>
                <p>다양한 Tailwind CSS의 유틸리티 세트를 활용해 복잡한 컴포넌트를 구성할 수 있습니다.</p>
                <a href="https://tailwindcss.com/docs/utility-first" rel="noopener noreferrer" target="_blank" class="text-blue-300 text-sm block"> 유틸리티 퍼스트 펀더멘탈 </a>
            </figcaption>
        </figure>
    </body>
</html>
